<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<title th:text="#{title.page.home}"></title>
</head>
<body>
	<div layout:fragment="content">

		<table class="table table-striped text-center">
			<thead class="thead-dark">
				<tr>
					<th scope="col" th:text="#{person.dni}"></th>
					<th scope="col" th:text="#{person.name}"></th>
					<th scope="col" th:text="#{person.lastname}"></th>
					<th scope="col" th:text="#{person.age}"></th>
					<th scope="col" th:text="#{person.gender}"></th>
					<th scope="col" th:text="#{person.hascar}"></th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<tr th:each="p: ${people}">
					<th scope="row" th:text="${p.dni}" />
					<td th:text="${p.name}" />
					<td th:text="${p.lastname}" />
					<td th:text="${p.age}" />
					<td>
						<span class="fas" th:classappend="${#strings.equals(p.gender,'FEMALE')} ? fa-female : fa-male"></span>
					</td>
					<td>
						<span class="fas" th:classappend="${p.hascar} ? fa-check : fa-times"></span>
					</td>
					<td>
						<a th:href="@{/edit/{id}(id=${p.id})}" class="fas fa-edit"></a>
					</td>
					<td>
						<a th:href="@{/delete/{id}(id=${p.id})}" class="far fa-trash-alt"></a>
					</td>
					<td>
						<a th:href="@{/hotel/{dni}(dni=${p.dni})}" class="fas fa-hotel"></a>
					</td>
					<td>
						<a th:href="@{/car/{dni}(dni=${p.dni})}" class="fas fa-car"></a>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="row justify-content-md-center">
			<a th:href="${T(com.practices.demo.presentation.front.Url).NEW_PERSON_URL}"
				class="btn btn-lg btn-success" th:text=#{form.person.create}></a>
		</div>

	</div>
</body>
</html>