<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}">
<head>
<title th:text="#{title.page.hotel}"></title>
</head>
<body>
    <div layout:fragment="content">
        <form action="#" th:action="@{${T(com.practices.demo.presentation.front.Url).HOTEL_URL}}" th:object="${hotelForm}" method="post">

            <div class ="form-group">
                <label for="dni" th:text="#{person.dni}"></label>
                <input type="text" class="form-control" th:field="*{dni}" id="dni"
                th:placeholder="#{person.dni.placeholder}" required="required" pattern="[0-9]{8}([a-z]|[A-Z]){1}"
                readonly>
            </div>

            <div class="form-group">
                <label for="select" th:text="#{hotel.select}"></label>
                <select class="form-control" th:field="*{code}" id="select" required="required">
                    <option value="" th:text="#{hotel.select.empty}" selected="selected"></option>
                    <option th:each="hotel : ${allHotels}"
                                    th:value="${hotel.code}"
                                    th:text="${hotel.name + '-' + hotel.location}"/>
                </select>
                <span class="text-danger" th:if="${#fields.hasErrors('code')}" th:errors="*{code}"></span>
            </div>

            <div class="form-group">
            	<label for="starthotel" th:text="#{hotel.start.reserve}"></label>
            	<div class="form-row">
            		<div class="col-1">
            			<input type="number" class="form-control" th:field="*{starthotelday}" id="starthotelday"
            			th:placeholder="#{hotel.day.placeholder}" required="required"min="1" max="31" >
            			</div>
            		<span class="text-danger" th:if="${#fields.hasErrors('starthotelday')}" th:errors="*{starthotelday}"></span>

            		<div class="col-1">
						<input type="number" class="form-control" th:field="*{starthotelmonth}" id="starthotelmonth"
						th:placeholder="#{hotel.month.placeholder}" required="required" min="1" max="12" >
						</div>
						<span class="text-danger" th:if="${#fields.hasErrors('starthotelmonth')}" th:errors="*{starthotelmonth}"></span>

					<div class="col-2">
						<input type="number" class="form-control" th:field="*{starthotelyear}" id="starthotelyear"
						th:placeholder="#{hotel.year.placeholder}" required="required" min="1900" max="3000">
						</div>
						<span class="text-danger" th:if="${#fields.hasErrors('starthotelyear')}" th:errors="*{starthotelyear}"></span>
            	</div>
            </div>

            <div class="form-group">
            	<label for="finishotel" th:text="#{hotel.finish.reserve}"></label>
            	<div class="form-row">
            		<div class="col-1">
            			<input type="number" class="form-control" th:field="*{finishhotelday}" id="finishhotelday"
            			th:placeholder="#{hotel.day.placeholder}" required="required"min="1" max="31">
            		</div>
            		<span class="text-danger" th:if="${#fields.hasErrors('finishhotelday')}" th:errors="*{finishhotelday}"></span>

            		<div class="col-1">
						<input type="number" class="form-control" th:field="*{finishhotelmonth}" id="finishhotelmonth"
						th:placeholder="#{hotel.month.placeholder}" required="required" min="1" max="12">
					</div>
					<span class="text-danger" th:if="${#fields.hasErrors('finishhotelmonth')}" th:errors="*{finishhotelmonth}"></span>

					<div class="col-2">
						<input type="number" class="form-control" th:field="*{finishhotelyear}" id="finishhotelyear"
						th:placeholder="#{hotel.year.placeholder}" required="required" min="1900" max="3000">
					</div>
					<span class="text-danger" th:if="${#fields.hasErrors('finishhotelyear')}" th:errors="*{finishhotelyear}"></span>
            	</div>
            </div>

            <button type="submit" class="btn btn-primary" th:text="#{btn.confirm}"></button>
                <a th:href="${T(com.practices.demo.presentation.front.Url).HOME_URL}" class="btn btn-danger" th:text="#{btn.cancel}"></a>

        </form>
    </div>
</body>
</html>