<div th:fragment="person_form">

	<form action="#" th:action="@{(${call})}" th:object="${personForm}" method="post">

		<input type="hidden" th:field="*{id}">

		<div class="form-group">
			<label for="dni" th:text="#{person.dni}"></label>
			<input type="text" class="form-control" th:field="*{dni}" id="dni"
				th:placeholder="#{person.dni.placeholder}" th:readonly="${#strings.equals(action,'update')}"
				required="required" pattern="[0-9]{8}([a-z]|[A-Z]){1}">
			<span style="color:red" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>
		</div>

		<div class="form-group">
			<label for="name" th:text="#{person.name}"></label>
			<input type="text" class="form-control" th:field="*{name}" id="name"
				th:placeholder="#{person.name.placeholder}"
				required="required" minlength="3" maxlength="15" >
			<span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
		</div>

		<div class="form-group">
			<label for="lastname" th:text="#{person.lastname}"></label>
			<input type="text" class="form-control" th:field="*{lastname}" id="lastname"
				th:placeholder="#{person.lastname.placeholder}"
				required="required" minlength="3" maxlength="15" >
			<span style="color:red" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>
		</div>

		<div class="form-group">
			<label for="fullname" th:text="#{person.fullname}"></label>
			<input type="text" class="form-control" th:field="*{fullname}" id="fullname" readonly="readonly">
		</div>

		<div class="form-group">
			<label for="birthdayday" th:text="#{person.birthday}"></label>
			<div class="form-row">
				<div class="col-1">
					<input type="number" class="form-control" th:field="*{birthdayday}" id="birthdayday"
						th:placeholder="#{person.birthdayday.placeholder}" required="required" min="1" max="31" >
				</div>
				<div class="col-1">
					<input type="number" class="form-control" th:field="*{birthdaymonth}" id="birthdaymonth"
						th:placeholder="#{person.birthdaymonth.placeholder}" required="required" min="1" max="12" >
				</div>
				<div class="col-2">
					<input type="number" class="form-control" th:field="*{birthdayyear}" id="birthdayyear"
						th:placeholder="#{person.birthdayyear.placeholder}" required="required" min="1900" max="3000">
				</div>
			</div>
			<span style="color:red" th:if="${#fields.hasErrors('birthdayday')}" th:errors="*{birthdayday}"></span>
		</div>

		<div class="form-group">
			<label for="age" th:text="#{person.age}"></label>
			<input type="number" class="form-control" th:field="*{age}" id="age" readonly="readonly">
			<span style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>
		</div>

		<div class="form-group">
			<label for="gender" th:text="#{person.gender}"></label>
			<select class="form-control" th:field="*{gender}" id="gender" required="required">
				<option value="M" th:text="#{person.gender.male}"></option>
				<option value="F" th:text="#{person.gender.female}"></option>
			</select>
			<span style="color:red" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></span>
		</div>

		<div class="form-group">
			<label for="email" th:text="#{person.email}"></label>
			<input type="email" class="form-control" th:field="*{email}" id="email"
				th:placeholder="#{person.email.placeholder}" required="required">
			<span style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
		</div>


		<button type="submit" class="btn btn-primary" th:text="#{@{(${btn})}}"></button>
		<a th:href="${T(com.practices.demo.presentation.front.Url).HOME_URL}" class="btn btn-danger" th:text="#{btn.cancel}"></a>

	</form>

	<script th:src="@{/js/forms/person.js}"></script>
</div>