<html layout:decorate="~{layouts/layout}" th:lang="${#locale.language}">
<body>

	<div class="container">

		<div class="pt-5 input-text-center">

			<div th:fragment="person">

				<!-- /* Formulario con accion, objeto sobre el que actuamos y metodo que usamos */ -->

				<form action="#" th:action="@{(${action})}"
					th:object="${personForm}" method="post"
					class="form-inlin justify-content-center">


					<!-- /* Pasa la id de la persona de forma oculta en el formulario de forma que obtenemos
			se obtiene la id a la hora de editar pero no lo vemos al estar oculta */ -->
					<input type="hidden" th:field="*{id}">

					<!-- /*Etiqueta dni, type y texto orientativo para el usuario-->
					<div class="form-group">
						<label for="dni" th:text="#{DNI}"></label> <input type="text"
							class="form-control" id="dni" name="dni"
							th:attr="placeholder=#{DNIP}" th:field="*{dni}"
							th:readonly="${#strings.equals(action2,'update')}" length=9
							required pattern="[0-9]{8}[A-Z]">


						<!-- /*Span con condicion asignada en clase persona sobre el campo dni y salida de mensaje de error-->
						<span th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></span>


					</div>


					<div class="form-group">


						<label for="fullname" th:text="#{Fullname}"></label> <input
							type="text" class="form-control" id="fullname"
							th:field="*{fullname}" readonly>


					</div>

					<!-- /*Etiqueta nombre, type y texto orientativo para el usuario*/-->
					<div class="form-group">
						<label for="name" th:text="#{Name}"></label> <input type="text"
							class="form-control" id="name" name="name"
							th:attr="placeholder=#{Namep}" th:field="*{name}" required>

						<!-- /*Span con condicion asignada en clase persona sobre el campo name y salida de mensaje de error-->
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>


					</div>

					<!-- /*Etiqueta lastname, type y texto orientativo para el usuario-->
					<div class="form-group">
						<label for="lastname" th:text="#{Lastname}"></label> <input
							type="text" class="form-control" id="lastname" name="lastname"
							th:attr="placeholder=#{Lastnamep}" th:field="*{lastname}"
							required>

						<!-- /*Span con condicion asignada en clase persona sobre el campo lastname y salida de mensaje de error-->
						<span th:if="${#fields.hasErrors('lastname')}"
							th:errors="*{lastname}"></span>
					</div>


					<div class="form-group">

						<table>

							<label for="fechanac" th:text="#{Fechanac}"></label>


							<tr>
								<td><label for="day" th:text="#{Day}"></label> <input
									type="text" class="form-control" id="day" name="day"
									th:attr="placeholder=#{Dayp}" th:field="*{day}" required>

									<!-- /*Span con condicion asignada en clase persona sobre el campo name y salida de mensaje de error-->
									<span th:if="${#fields.hasErrors('day')}" th:errors="*{day}"></span>

								</td>


								<td><label for="month" th:text="#{Month}"></label> <input
									type="text" class="form-control" id="month" name="month"
									th:attr="placeholder=#{Monthp}" th:field="*{month}" required>

									<!-- /*Span con condicion asignada en clase persona sobre el campo name y salida de mensaje de error-->
									<span th:if="${#fields.hasErrors('month')}"
									th:errors="*{month}"></span></td>

								<td><label for="year" th:text="#{Year}"></label> <input
									type="text" class="form-control" id="year" name="year"
									th:attr="placeholder=#{Yearp}" th:field="*{year}" required>

									<!-- /*Span con condicion asignada en clase persona sobre el campo name y salida de mensaje de error-->
									<span th:if="${#fields.hasErrors('year')}" th:errors="*{year}"></span>

								</td>

							</tr>


						</table>

					</div>

					<!-- /*Etiqueta edad, type y texto orientativo para el usuario-->
					<div class="form-group">
						<label for="age" th:text="#{Age}"></label> <input type="number"
							class="form-control" id="age" name="age"
							placeholder="Introduce age.Ej: 25" th:field="*{age}" readonly> <span
							th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></span>

					</div>

					<!-- /*Etiqueta genero, type y opciones que podemos elegir -->
					<div class="form-group">
						<label for="gender" th:text="#{Gender}"></label> <select
							class="form-control" id="gender" name="gender"
							th:field="*{gender}" required>
							<option value="MALE" th:text="#{Male}"></option>
							<option value="FEMALE" th:text="#{Female}"></option>
						</select>
					</div>

					<!-- /*Checkbox para saber si el usuario tiene o no coche-->
					<div class="form-group">
						<input type="checkbox" id="hascar" name="hascar"
							th:field="*{hascar}" th:text="#{Hascar}">
					</div>

					<!-- /* Botones crear una nueva persona y cancelar */ -->
					<button type="submit" class="btn btn-lg btn-primary">
						<span th:text="#{@{(${btn})}}"></span>
					</button>
					<a href="/home" class="btn btn-lg btn-danger" th:text="#{Cancel}"></a>

				</form>

			</div>
		</div>

	</div>

<script type="text/javascript">
$(document).ready(function(){
	alert("javascript activo");

	 $("#name").change( function(){
		    $('#fullname').val( $('#name').val()+" "+ $('#lastname').val());
		  });

	 $("#lastname").change( function(){
		    $('#fullname').val( $('#name').val()+" "+ $('#lastname').val());
		  });

}
</script>

</body>


</html>