<html layout:decorate="~{layouts/layout}">
<head>
</head>
<body>

	<div class="container">
		<div class="pt-5 input-text-center">

			<div th:fragment="person">
				<!-- /*Formulario*/ -->
				<form action="#" th:action="@{(${call})}" th:object="${persona}"
					method="post">
					<!-- /*Hace que se esté la id pero no se ve*/ -->
					<input type="hidden" th:field="*{id}">
					<!-- /*DNI*/ -->
					<div class="form-group">
						<label for="dni">DNI</label> <input type="text"
							class="form-control" th:field="*{dni}" id="dni"
							placeholder="Introduce your DNI. Ej: 12345678A"
							th:readonly="${#strings.equals(action,'Update')}">
					</div>
					<!-- /*Nombre*/ -->
					<div class="form-group">
						<label for="name">Name</label> <input type="text"
							class="form-control" th:field="*{name}" id="name"
							placeholder="Introduce your Name. Ej: Tom">
					</div>
					<!-- /*Apellido*/ -->
					<div class="form-group">
						<label for="lastname">Lastname</label> <input type="text"
							class="form-control" th:field="*{lastname}" id="lastname"
							placeholder="Introduce your Lastname. Ej: Smith">
					</div>
					<!-- /*Edad*/ -->
					<div class="form-group">
						<label for="age">Age</label> <input type="number"
							class="form-control" th:field="*{age}" id="age"
							placeholder="Introduce your age. Ej: 18">
					</div>
					<!-- /*Genero*/ -->
					<div class="form-group">
						<label for="gender">Gender</label> <select class="form-control"
							th:field="*{gender}" id="gender">
							<option value="MALE">Male</option>
							<option value="FEMALE">Female</option>
						</select>
					</div>
					<!-- /*Si tiene o no coche*/ -->
					<div class="form-group">
						<input type="checkbox" th:field="*{hascar}" id="hascar"> <label
							for="hascar">Has a car</label>
					</div>
					<!-- /*Botón cancelar (Vuelve a home) y añadir/modificar campos*/ -->
					<button type="submit" class="btn btn-primary">
						<span th:text="@{(${action})}"></span> Person
					</button>
					<a href="/home" class="btn btn-danger">Cancel</a>

				</form>

			</div>
		</div>
	</div>


</body>
</html>