<html layout:decorate="~{layouts/layout}">
<head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

</head>
<body>


	<div class="pt-5 container">

		<div class="input-text-center">
		
		<!-- /* Formulario con accion, objeto sobre el que actuamos y metodo que usamos */ -->

			<form action="#" th:action="@{/create}" th:object="${create}"
				method="post" class="form-inlin justify-content-center">

				<!-- /*Etiqueta dni, type y texto orientativo para el usuario-->
				<div class="form-group">
					<label for="dni">DNI</label> <input type="text"
						class="form-control" id="dni" name="dni"
						placeholder="Introduce DNI.Ej: 12345678A">
				</div>

				<!-- /*Etiqueta nombre, type y texto orientativo para el usuario-->
				<div class="form-group">
					<label for="name">Name</label> <input type="text"
						class="form-control" id="name" name="name"
						placeholder="Introduce name.Ej: Lucas">
				</div>

				<!-- /*Etiqueta lastname, type y texto orientativo para el usuario-->
				<div class="form-group">
					<label for="lastname">LastName</label> <input type="text"
						class="form-control" id="lastname" name="lastname"
						placeholder="Introduce lastname.Ej: Smith">
				</div>

				<!-- /*Etiqueta edad, type y texto orientativo para el usuario-->
				<div class="form-group">
					<label for="age">Age</label> <input type="number"
						class="form-control" id="age" name="age"
						placeholder="Introduce age.Ej: 25">
				</div>

				<!-- /*Etiqueta genero, type y opciones que podemos elegir -->
				<div class="form-group">
					<label for="gender">Gender</label> <select class="form-control"
						id="gender" name="gender">
						<option value="MALE">Male</option>
						<option value="FEMALE">Female</option>
					</select>
				</div>

				<!-- /*Checkbox para saber si el usuario tiene o no coche-->
				<div class="form-group">
					<input type="checkbox" id="hascar" name="hascar"> Has a car
				</div>

				<!-- /* Botones crear una nueva persona y cancelar */ -->
				<div class="form-group">
					<button type="submit" class="btn btn-lg btn-primary">Create
						Person</button>
					<a href="/home" class="btn btn-lg btn-danger">Cancel</a>
				</div>

			</form>
		</div>
	</div>




</body>
</html>