<html>
<head>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">


<title>Insert title here</title>
</head>
<body>


<form action="#" th:action="@{/update/{id}(id=${persona.id})}" th:object="${persona}" method="post">

<div class="form-group">
    <label for="dni">DNI</label>
    <input type="text" class="form-control" id="dni" name="dni" th:field=*{dni} >
 </div>
  
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" name="name" th:field=*{name} >
  </div>
  
  
 <div class="form-group">
    <label for="lastname">Apellido</label>
    <input type="text" class="form-control" id="lastname" name="lastname" th:field=*{lastname} >
  </div>
  
  <div class="form-group">
    <label for="age">Edad</label>
    <input type="number" class="form-control" id="age" name="age" th:field=*{age} >
  </div>
  
 <div class="form-group">
    <label for="gender">Genero</label>
    <select class="form-control" id="gender" name="gender" th:field=*{gender} >
  <option value="MALE">Male</option>
  <option value="FEMALE">Female</option>
  
</select>
  </div>
  
  
  
  <div><input type="checkbox" aria-label="Checkbox for following text input" id="hascar" name="hascar" th:field=*{hascar} >Has a car</div>
  
  
 
  
  <button type="submit" class="btn btn-primary">Create Person</button>
  <a href="/home" class="btn btn-danger">Cancel</a>
  
  
</form>

</body>
</html>