<html layout:decorate="~{layouts/layout}">
<head>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
	<title>Update Person</title>

</head>

<body>

	<div class="pt-5 container">

		<div class="input-text-center">
			<!-- /* Se le añade la acción que va a realizar en este caso update */ -->
			<form action="#" th:action="@{/update/{id}(id=${persona.id})}"
				th:object="${persona}" method="post"
				class="form-inlin justify-content-center">

				<!-- /* Campo DNI que no es editable */ -->
				<div class="form-group">
					<label for="dni">DNI</label> <input type="text"
						class="form-control" id="dni" th:field="*{dni}" readonly>
				</div>

				<!-- /* Nombre */ -->
				<div class="form-group">
					<label for="name">Name</label> <input type="text"
						class="form-control" id="name" th:field="*{name}">
				</div>

				<!-- /* Apellido */ -->
				<div class="form-group">
					<label for="lastname">LastName</label> <input type="text"
						class="form-control" id="lastname" th:field="*{lastname}">
				</div>

				<!-- /* Edad */ -->
				<div class="form-group">
					<label for="age">Age</label> <input type="number"
						class="form-control" id="age" th:field="*{age}">
				</div>

				<!-- /* Genero */ -->
				<div class="form-group">
					<label for="gender">Gender</label> <select class="form-control"
						id="gender" th:field="*{gender}">
						<option value="MALE">Male</option>
						<option value="FEMALE">Female</option>
					</select>
				</div>

				<!-- /* Si tiene coche o no */ -->
				<div class="form-group">
					<input type="checkbox" id="hascar" th:field="*{hascar}">
					Has a car
				</div>

				<!-- /* Botones actualizar y cancelar */ -->
				<div class="form-group">
					<button type="submit" class="btn btn-lg btn-primary">Update
						Person</button>
					<a href="/home" class="btn btn-lg btn-danger">Cancel</a>
				</div>
			</form>
		</div>
	</div>
</body>
</html>